@tailwind base;
@tailwind components;
@tailwind utilities;





.bg-custom-mobile {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/imageOneMobile.png') center center no-repeat;
    background-size: cover;
  }

  .bg-custom-mobile-two {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/imageTwoMobile.png') center center no-repeat;
    background-size: cover;
  }

  .bg-custom-mobile-three {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/imageThreeMobile.png') center center no-repeat;
    background-size: cover;
  }


  .bg-custom-mobile-four {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/imageFourMobile.png') center center no-repeat;
    background-size: cover;
  }

  .bg-custom-mobile-five {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/imageFiveMovile.png') center center no-repeat;
    background-size: cover;
  }

  .bg-custom-mobile-six {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/imageSixMobile.png') center center no-repeat;
    background-size: cover;
  }


  .bg-custom-hero {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/HeroPage.jpg') center center no-repeat;
    background-size: cover;
  }

  
  .bg-custom-me {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/mePage.png') center center no-repeat;
    background-size: cover;
  }

   
  .bg-custom-experience {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/ExperiencePage.png') center center no-repeat;
    background-size: cover;
  }

  .bg-custom-briefcase {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/BriefcasePage.png') center center no-repeat;
    background-size: cover;
  }

  .bg-custom-contact {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/ContactPage.png') center center no-repeat;
    background-size: cover;
  }

  .bg-custom-skills {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/SkillsPage.png') center center no-repeat;
    background-size: cover;
  }
 



  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
  }

  .carousel-container {
    width: 100%;
    max-width: 1200px; /* Adjust the max-width as per your requirements */
    margin: 0 auto;
    padding: 0 300px;
  }
  
  @media (max-width: 768px) {
    .carousel-container {
      padding: 0 10px;
    }
  }
  
  @media (max-width: 576px) {
    .carousel-container {
      padding: 0 10px;
      max-width: 300px;
    }
  }